.gallery {
    display: flex;
    position: relative;
    gap: 100px;
}

.rightPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
}

.galleryBody {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 815px;
    height: 610px;
    background-color: white;
    border-radius: 10px;
}
.img {
    width: 200px;
	height: 200px;
	transition: transform .5s;
	object-fit: cover;
	user-select: none;
    cursor: pointer;
}
.img:hover {
    transform: scale(1.15);
    filter: brightness(90%);
}
.imgWrapper {
    display: flex;
    position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.arrowLeft {

    display: none;
    transform: rotate(180deg);
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 5px;
}
.arrowRight {

    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    right: 5px;
}
.leftBorder, .rightBorder {
    transition: background .2s;
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 100%;
}


.rightBorder {
    right: 0;
}
.albums {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.album {
    cursor: pointer;
    transition: .1s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 1px);
    height: 50px;
}
.album:hover p{
    padding-left: 25px;
    font-size: 18px;
    background-color: rgb(233, 243, 255);
}

.album .underline {
    transition: .5s;
    display: block;
    margin-left: 20px;
    height: 2px;
    width: 100px;
    background-color: rgb(53, 121, 199);
}
.albums h1 {
    padding-left: 20px;
}
.album p {
    width: 250px;
    transition: .2s;
    padding-left: 20px;
    color:   rgb(53, 121, 199);
    font-size: 16px;
}
.wait {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addPhoto {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.inputHide {
    display: none;
}

.addPicture {
    padding: 0 0 10px 20px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100px;

}
.slider {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 40%;
}
/*-----------------------Animation-------------------*/

.ldsRoller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsRoller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.ldsRoller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(53, 121, 199);
  margin: -4px 0 0 -4px;
}
.ldsRoller div:nth-child(1) {
  animation-delay: -0.036s;
}
.ldsRoller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.ldsRoller div:nth-child(2) {
  animation-delay: -0.072s;
}
.ldsRoller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.ldsRoller div:nth-child(3) {
  animation-delay: -0.108s;
}
.ldsRoller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.ldsRoller div:nth-child(4) {
  animation-delay: -0.144s;
}
.ldsRoller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.ldsRoller div:nth-child(5) {
  animation-delay: -0.18s;
}
.ldsRoller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.ldsRoller div:nth-child(6) {
  animation-delay: -0.216s;
}
.ldsRoller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.ldsRoller div:nth-child(7) {
  animation-delay: -0.252s;
}
.ldsRoller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.ldsRoller div:nth-child(8) {
  animation-delay: -0.288s;
}
.ldsRoller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
