
.feedBody {
    width: 100%;
    display: flex;
    gap: 20px;
}

.mainContent {
    width: 60%;
    height: 1000px;
    border-radius: 10px;
}

.leftSideContent, .rightSideContent {
    height: 500px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.656);
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftSideContent {
    width: 15%;
}
.rightSideContent {
    width: 25%;
}