.profileCircle, .level {
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  .body .wrapper {
    gap: 40px ;
    display: flex;
    margin-top: 40px;
  }
  .mainpage {

    display: flex;
    width: 100%;
    gap: 20px;
    padding: 0 30px;
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    height: auto;
  }
  .profileContainer {
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    width: 20%;
    height: 550px;
    display: flex;
    flex-direction: column;
  }
  .profileIcon {
    fill: rgb(122, 122, 122);
    width: 30px;
    height: 30px;
  }
  .profileContainer .defaultInfo {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  .defaultInfo .leftInfoBlock, .defaultInfo .rightInfoBlock {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(3, 30px);
    gap: 10px;
    margin: 10px 0;
  }
  .defaultInfo .leftInfoBlock p {
    font-weight: 500;
    font-size: 18px;
  }
  .defaultInfo .rightInfoBlock a  {
    color: rgb(94, 94, 94);
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    
  }
  

  .profilePictureWrapper {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .profilePicture {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
    z-index: 10;
  }
  .infoBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .infoBlock .messageBtn {
    color: white;
    text-decoration: none;
  }
  .infoBlock .book, .infoBlock .subscribe {
    font-weight: 600;
    font-size: 15px;
    align-self: center;
    background-color: rgb(58, 101, 241);
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    transition: color .1s;
    cursor: pointer;
  }
  .infoBlock .menu {
    position: relative;
    margin-top: 3px;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .menu .subscribe {
    color: rgb(58, 101, 241);
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    width: 80%;
    border: 1px solid rgb(58, 101, 241);
  }
  .optionsIcon {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(58, 101, 241);
    background-color:  rgb(58, 101, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
  }
  .options {
    width: 100px;
    height: 60px;
    background-color: white;
    border: 1px solid  rgb(58, 101, 241);
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .menu .profileIcon {
    fill:  rgb(255, 255, 255);
  }
  .infoBlock .subscribe:hover {
    background-color: rgb(58, 101, 241);
    border: 1px solid rgb(240, 240, 240);
    color: white;
    transition: .1s;
  }
  .infoBlock h1 {
    align-self: center;
    color: rgb(83, 83, 83);
    margin: 0;
  }
  .infoBlock ul {
    color: rgb(131, 131, 131);
    padding: 0;
    list-style: none;
  }
  .infoBlock .book:hover {
    color: rgb(221, 221, 221);
    background-color: rgb(46, 82, 197);
  }
  
  .makePost {
    padding-top: 5px;
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
  }
  .makePost h2 {
    margin-left: 10px;
  }
  .makePost textarea {
    box-sizing: border-box;
    overflow: hidden;
    padding: 5px;
    resize: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(239, 247, 247);
  }
  .makePost button {
  
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background-color: rgb(53, 121, 199);
    width: 70px;
    height: 30px;
    border: none;
  
  }
  .tools {
    width: 100%;
    padding: 10px;
    display: none;
    gap: 10px;
    align-items: center;
  }
  .tools .append{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .append {
    text-decoration: none;
    color: rgb(39, 39, 39);
  }
  .appendIcon {
    width: 20px;
    height: 20px;
  }
  .postsList {
    margin-top: 50px;
  }
  .icon {
    width: 15px;
    cursor: pointer;
  }
  .tagsInput{
    display: none;
    width: 160px;
    height: 20px;
    border: 1px solid white;
    background-color: rgb(228, 228, 228);
    border-radius: 2px;
    outline: none;
  }
  .tagsInput::placeholder{
    padding-left: 5px;
  }
  .tagsIcon{
    fill: white;
    width: 25px;
    height: 25px;
  }
  .tagsIcon:hover {
    fill: rgb(192, 192, 192);
  }
  .imagesToAppend_show{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px ;
    width: 100px;
    height: 100px;
  
  }
  .background {
    z-index: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.466);
    position: absolute;
  }
  .imgToAppendWrapper {
    display: flex;
    justify-content: center;
    min-width: 100px;
    height: 100px;
    transition: .2s;
    position: relative;
  }
  .imgToAppendWrapper:hover {
    filter: brightness(0.8);
  }
  .imagesToAppend_hide {
    display: none;
  }
  .imageToAppend {
    z-index: 1;
    width: auto;
    height: 100px;
    transition: .2s;
    user-select: none;
    cursor: pointer;
  }
.imageWrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
  /* SIDEBAR */
  .sidebar {
    box-sizing: border-box;
    width: 20%; 
    height: 600px;
    background-color: white;
  }
  
  /*Login-logout*/
  .login button, .logout button{
    transition: .2s;
    position: relative;
    width: 100px;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  .login button {
    background-color: rgb(47, 86, 216);
  }
  .login button:hover {
    background-color: rgb(45, 82, 206);
    color:rgb(235, 237, 241);
  }
  .login button:active,.logout button:active {
    top: -2px;
  }
  .logout button {
    background-color: rgb(241, 89, 69);
  }
  .logout button:hover {
    background-color:  rgb(209, 76, 59);
    color:rgb(237, 238, 243);
  }
  
  .aboutMeBlock {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    background-color: white;
    border-radius: 10px;
  
  }
  .aboutMeHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .gallery {
    height: auto;
    width: 90%;
    margin: 15px 0;
    display: flex;
    align-items: center;

  }
  .photoGallery {
    position: relative;
    width: 100px;
    height: auto;

  }
  .arrowWrapper {
    cursor: pointer;
    z-index: 19;
    position: relative;
  }

  .arrowBackground {
    transition: .2s;
    z-index: 19;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.527);
    width: 60px;
    height: 60px;
  }
  .showMoreArrow {
    transition: .2s;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 20;
    width: 40px;
    height: 40px;
    fill: rgb(182, 182, 182);
  }
  .photoGallery img {
    width: 150px;
      height: 300px;
      transition: transform .5s;
      object-fit: cover;
      user-select: none;
    cursor: pointer;
    border-radius: 20px;
  }
  .photoGallery img:hover {
    transform: scale(1.1);
  }


  

.additionalInfoBlock {
  width: 20%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.friends {
  padding: 20px 5px;
  border-radius: 20px;
  width: 100%;
  height: 350px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3,1fr);
  background-color: white;
}

.friendCircle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.friendCircleImg {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.friendCircle p {
  color: rgb(54, 53, 53);
}
.dialogs {
  border-radius: 20px;
  width: 100%;
  height: 350px;
  background-color: white;
}
/*------------------------------AboutMeBlock------------------------------------*/
/*------------Responsive Design-------------*/

@media only screen and (max-width: 1600px) {
  .friends {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: white;
  }
}
@media only screen and (max-width: 1380px) {
  .friends {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3,100px);
    background-color: white;
  }
  .friends .friendCircleImg {
    width: 65px;
    height: 65px;
  }
  .profileContainer {
    width: 15%;
    height: 400px;
  }
  .profilePictureWrapper {margin: 0;width: 130px; height: 130px;}

  .mainContent {width: 60%;}
  .infoBlock {padding: 0px;}
  .infoBlock .defaultInfo a {font-size: 15px;}
  .infoBlock .defaultInfo {
    margin: 0;
    gap: 0px;
  }  
  .defaultInfo .leftInfoBlock, .defaultInfo .rightInfoBlock {gap: 3px;}
  .defaultInfo .profileIcon {width: 25px;}
  .additionalInfoBlock {width: 25%;}
}
@media only screen and (max-width: 1080px) {
  .mainContent {width: 80%;}
  .profileContainer {width: 15%;}
  .additionalInfoBlock {width: 5%;}
  .friends {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .friends .friendCircleImg {
    width: 40px;
    height: 40px;
  }
  .friends .friendCircle p {display: none;}
}
@media only screen and (max-width: 880px) {
  .mainContent {width: 85%;}
  .profileContainer {width: 10%; height: 300px;}
  .additionalInfoBlock {width: 5%;}

  .profilePictureWrapper {
    width: 70px;
    height: 70px;
  }
}