.slider {
    z-index: 10;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, .2);
}
.imageContainer {
    overflow: auto;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image-slider-header {
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(29, 29, 29);
}
.img-cont-slider {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 1024px;
    max-height: auto;
}
.img-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.img {
    display: none;
    user-select: none;
    object-fit: contain;
    max-height: 500px;
    max-width: 700px;
    min-height: 400px;
    min-width: 400px;
}
.img.show {
    display: flex;
}

.right-arrow, .left-arrow {
    opacity: 0;
    z-index: 10;
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-arrow {right: 0;}
.left-arrow{left: 0;}

.arrow-icon {
    display: none;
    width: 50px;
    height: 50%;
    color: white;
}

.left-arrow .arrow-icon {transform: rotate(180deg);}
.comments-slider {
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}
.description-header {
    display: flex;
    align-items: center;
}
.description-profilePicture {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.icon {
    width: 20px;
    height: 20px;
}
.right-arrow.show {opacity: 100%}
.left-arrow.show {opacity: 100%}
.right-arrow.show .arrow-icon{display: flex;}
.left-arrow.show .arrow-icon{display: flex;}