.post {
  margin-bottom: 30px;
  border-radius: 10px;
  width: 100%;
  max-height: auto;
  background-color: white;
}
.post .profileCircle {
  cursor: pointer;
  transition: .2s;
  border-radius: 50%;
  border: 1px solid white;
  width: 50px;
  height: 50px;
}
.profileCircle:hover {
  border: 2px solid rgb(53, 121, 199);
  filter:brightness(90%);
}

.postTools {
position: relative;
}

.views {
width: 20px;
height: 20px;
fill: rgb(128, 128, 128);
}
.icon {
fill: rgb(99, 99, 99);
cursor: pointer;
width: 25px;
height: 25px;
}
.iconBlue {
fill: rgb(45, 115, 206);
cursor: pointer;
width: 25px;
height: 25px;
}
.post .postHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(212, 218, 218);
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
}
.postHeader .postTools {
  display: flex;
  align-self: flex-start;
  gap: 10px;
}

.postHeader .date {
  color: rgb(133, 133, 133);
  position: absolute;
  top: 5px;
  left: 40px;
  margin-left: 20px;
}

.images {
box-sizing: border-box;
padding: 20px 10px 0 10px;
width: 100%;
height: auto;
display: grid;
grid-template-columns: repeat(3, auto);
gap: 2%;
}
.imgWrapper {
overflow: hidden;
display: flex;
justify-content: center;
height: 500px;
}

.image {
transition: .2s;
height: auto;
height: 500px;
}
.postBody {
  padding: 0 20px;
}
.postBody .image:hover {
filter:brightness(90%);
}
.tools {
box-sizing: border-box;
padding: 10px;
border-top: 1px solid #c7c7c7;
border-bottom: 1px solid #c7c7c7;
margin-top: 20px;
height: 50px;
width: 100%;
background-color: white;
display: flex;
justify-content: space-between;
}
.tool {
display: flex;

gap: 5px;
}
.tool p {align-self: flex-end;}
.rightBlock {
display: flex;
align-items: center;
justify-content: space-between;
gap: 30px;
}

.comments {
box-sizing: border-box;
width: 100%;
height: auto;
padding: 0 20px;
}
.commentsShowOne {
display: flex;
flex-direction: column;
padding: 0 20px;
height: 70px;
overflow: hidden;
}
.commentsHideAll {
display: none;
}
.comment {
border-bottom: 1px solid rgb(199, 199, 199);
width: 100%;
height: auto;
display: flex;
justify-content: space-between;
padding: 5px 0;
margin-top: 10px;
}
.commentHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profilePicture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: .2s;
  cursor: pointer;
}
.profilePicture:hover {
  filter:brightness(80%);

}
.commentLike, .myCommentLike {width: 20px; height: 20px; margin-bottom: 3px; cursor: pointer; fill:#727272}
.myCommentLike {fill: rgb(87, 149, 230);}
.postLeftside {
display: flex;
gap: 10px;
}
.postRightside {
display: flex;
align-items: flex-end;
gap: 5px;
}
.postRightsideMenu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.authorName, .myName {
  font-size: 16px;
}
.myName {
  color: rgb(53, 121, 199);
}
.text {
margin: 0;
width: auto;
}
.time {
user-select: none;
margin: 0;
font-size: 14px;
color: #727272;
}
.reply {
color: rgb(53, 94, 172);
text-decoration: none;
}
.commentReplies {
  display: flex;
  align-items: center;
  gap: 5px;
}
.commentReplies a {
  cursor: pointer;
  color: rgb(53, 94, 172);
}
.commentReplies div {
  display: flex;
}
.replyImgCircle {
  display: flex;
  align-self: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.replies {
  margin-left: 50px;
}
.commentInf {
display: flex;
align-items: center;
gap: 10px;
}
.likesNum {
user-select: none;
margin: 0;
}
.postEdit {
border: 2px solid rgb(87, 149, 230);
}
.postEdit textarea {
padding: 5px;
resize: none;
width: 100%;
outline: none;
border: none;
}
.postEdit .imgWrapper {
position: relative;
}


.editPostMenu {
width: 100%;
height: 50px;
display: flex;
gap: 10px;
justify-content: flex-end;
align-items: center;
}

.discardAppend {
transition: .2s;
cursor: pointer;
display: block;
position: absolute;
left: 93%;
right: 0px;
fill: white;
width: 25px;
height: 25px;
background-color: rgba(0, 0, 0, 0.473);
}
.discardAppend:hover {
  fill: rgb(216, 216, 216);
  background-color: rgba(0, 0, 0, 0.673);
}
.discardAppendHide {
display: none;
}
.editDiscard, .editFinish {
cursor: pointer;
transition: .2s;
width: 100px;
height: 45px;
border-radius: 5px;
}
.editDiscard {
border: 2px solid rgb(87, 149, 230);
background-color: white;
}
.editDiscard:hover {
border: 2px solid rgb(255, 255, 255);
background-color: rgb(87, 149, 230);
color: white;
}
.editFinish {
border: 2px solid rgb(87, 149, 230);
background-color: rgb(87, 149, 230);
color: white;
}
.editFinish:hover {
font-weight: 500;
border: 2px solid rgb(87, 149, 230);
background-color: white;
color: rgb(87, 149, 230);
}