.post {
    margin-bottom: 30px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    background-color: white;
  }
.post .profileCircle {
  
    border: 1px solid white;
    width: 40px;
    height: 40px;
  }
  .profileCircle:hover {
    border: 1px solid rgb(53, 121, 199);
  }
.postTools {
  position: relative;
}
.postMenu {
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.menuTools {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border: 2px solid rgb(166, 185, 247);
  border-radius: 5px;
  background-color: white;
  position: absolute;
  left: 10px;
  top: -90px;
}
.menuToolsHide {
  display: none;
}
.menuTools a {
  padding-left: 10px;
  transition: .2s;
  cursor: pointer;
  margin-bottom: 5px;
}
.menuTools a:hover {
  border-bottom: 1px solid rgb(144, 161, 218);
  background-color: #ececec;
}
.views {
  width: 20px;
  height: 20px;
  fill: rgb(128, 128, 128);
}
.icon {
  fill: rgb(99, 99, 99);
  cursor: pointer;
  width: 25px;
  height: 25px;
  }
.iconBlue {
  fill: rgb(45, 115, 206);
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.post .postHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(212, 218, 218);
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
  }
.postHeader .postTools {
    display: flex;
    align-self: flex-start;
    gap: 10px;
  }
  
.postHeader .date {
    color: rgb(133, 133, 133);
    position: absolute;
    top: 5px;
    left: 40px;
    margin-left: 20px;
  }

.images {
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2%;
}
.imgWrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 500px;
}

.image {
  transition: .2s;
  height: auto;
  height: 500px;
}
.image:hover {
  filter:brightness(90%);
}
.tools {
  box-sizing: border-box;
  padding: 10px;
  border-top: 1px solid #c7c7c7;
  margin-top: 20px;
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.tool {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 5px;
}

.rightBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.comments {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0 20px;
}
.commentsShowOne {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: 70px;
  overflow: hidden;
}
.commentsHideAll {
  display: none;
}
.comment {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.profilePicture {
  width: 50px;
  height: 50px;
}
.commentLike {width: 20px; height: 20px; margin-bottom: 3px; cursor: pointer; fill:#727272}
.postLeftside {
  display: flex;
  gap: 10px;
}
.postRightside {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.autherName {
  margin: 0;
}
.text {
  margin: 0;
  width: auto;
}
.time {
  user-select: none;
  margin: 0;
  font-size: 14px;
  color: #727272;
}
.reply {
  color: rgb(53, 94, 172);
  text-decoration: none;
}
.commentInf {
  display: flex;
  align-items: center;
  gap: 10px;
}
.likesNum {
  user-select: none;
  margin: 0;
}
.postEdit {
  border: 2px solid rgb(87, 149, 230);
}
.postEdit textarea {
  resize: none;
  
}
.editPostMenu {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}
.editDiscard {

}
.discardAppend {
  position: absolute;
  fill: white;
}
.editDiscard, .editFinish {
  cursor: pointer;
  transition: .2s;
  width: 100px;
  height: 45px;
  border-radius: 5px;
}
.editDiscard {
  border: 2px solid rgb(87, 149, 230);
  background-color: white;
}
.editDiscard:hover {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(87, 149, 230);
  color: white;
}
.editFinish {
  border: 2px solid rgb(87, 149, 230);
  background-color: rgb(87, 149, 230);
  color: white;
}
.editFinish:hover {
  font-weight: 500;
  border: 2px solid rgb(87, 149, 230);
  background-color: white;
  color: rgb(87, 149, 230);
}