.gallery {
  background-color: white;
    width: 100vw;
  
    height: auto;
    display: flex;
    position: relative;
}
.background {
  width: 100vw;
  height: 600px;
  background-color: white;
}

.rightPanel {
  position: absolute;
  left: 0;
  right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    height: 600px;
    background-color: rgba(228, 232, 243, 0.822);
    border-right: 2px solid rgb(206, 215, 228);
}
.galleryBody {
    margin-left: 275px;
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.img {
  width: auto;
	height: 200px;
	transition: transform .5s;
	user-select: none;
  cursor: pointer;
}
.img:hover {
    transform: scale(1.15);
    filter: brightness(90%);
}
.imgWrapper {
    display: flex;
    position: relative;
	overflow: hidden;
}
.arrowLeft {

    display: none;
    transform: rotate(180deg);
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 5px;
}
.arrowRight {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    right: 5px;
}
.leftBorder, .rightBorder {
    transition: background .2s;
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 100%;
}


.rightBorder {
    right: 0;
}
.albums {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.album {
    cursor: pointer;
    transition: .1s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 1px);
    height: 50px;
}
.album:hover p{
    padding-left: 25px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.822);
}

.album .underline {
    transition: .5s;
    display: block;
    margin-left: 20px;
    height: 2px;
    width: 100px;
    background-color: rgb(53, 121, 199);
}
.albums h1 {
    padding-left: 20px;
}
.album p {
    width: 250px;
    transition: .2s;
    padding-left: 20px;
    color:   rgb(53, 121, 199);
    font-size: 16px;
}

.addPhoto {
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.addPhoto:hover {
    transform: scale(110%);
}
.inputHide {
    display: none;
}

.addPicture {
    background-color: rgba(0, 0, 0, 0.123);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 200px;

}
.addAlbum {
  width: 40px;
  height: 40px;
  fill: rgb(163, 163, 163);
  cursor: pointer;
  padding: 10px 0 0 200px;
}

