
.App {
  text-align: center;
  font-family: 'Arial';
  font-size: 16px;
}
.wrapper {
  margin-top: 40px;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
body {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(214, 218, 223);
}
.headerBackground { 
  width: 100%;
  z-index: 100;
}
.logo{
  width: 45px;
  height: 45px;
}

.header {
  padding: 5px 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  position: fixed;
  z-index: 100;
  top: 0;
  height: 60px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .rightSideContent {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.header .logo {
  margin-right: 50px;
}
.nav a {
  text-decoration: none;
  color: rgb(95, 95, 95);
  transition: color .2s;
}
.nav a:hover {
  color: rgb(33, 114, 219);
}
.leftSideContent .nav {
  display: flex;
  gap: 20px;
}
.header .leftSideContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSideContent .search {
  cursor: pointer;
  position: relative;
  display: flex;
}
.rightSideContent .search input {
  width: 200px;
  height: 45px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  outline: none;
}
.rightSideContent .search input::placeholder {
  padding-left: 30px;
}
.rightSideContent .search .searchSvg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 12px;
  fill: rgb(119, 119, 119);
}
.rightSideContent .profile {
  cursor: pointer;
  display: flex;
  gap: 10px;
  height:40px;
  width: 40px;
}
.profileCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


@media only screen and (max-width: 1500px) {
  
}