
.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* @font-face: {
    font-family: deadlycomic;
    src: url('./deadlyfont.ttf');
  }; */
  font-size: 16px;
}
body {
  /* font-family: deadlycomic; */
  background-color: rgb(233, 240, 240);
}

.wrapper {
  padding: 10px;
  width: 1250px;
  margin-right: auto;
  margin-left: auto;
}
.headerBackground {
  width: 100%;
  z-index: 100;
}
.logo{
  width: 35px;
  height: 35px;
}

.header {
  padding: 5px;
  background-color: white;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .rightSideContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo {
  margin-right: 50px;
}
.nav a {
  text-decoration: none;
  color: rgb(95, 95, 95);
  transition: color .2s;
}
.nav a:hover {
  color: rgb(33, 114, 219);
}
.leftSideContent .nav {
  display: flex;
  gap: 20px;
}
.header .leftSideContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSideContent .search {
  position: relative;
  display: flex;
}
.rightSideContent .search input {
  width: 200px;
  height: 30px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  outline: none;
}
.rightSideContent .search input::placeholder {
  padding-left: 30px;
}
.rightSideContent .search .searchSvg {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.rightSideContent .profile {
  display: flex;
  gap: 10px;
}
.level {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.profileCircle, .level {
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.body .wrapper {
  gap: 40px ;
  display: flex;
  margin-top: 40px;
}
.mainpage {
  display: flex;
  gap: 40px;
}
.mainContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 900px;
  height: auto;
}
.profileContainer {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 650px;
  display: flex;
  flex-direction: column;
}
.profileContainer .defaultInfo {
  display: flex;
  gap: 50px;
  margin: 20px 0;
}
.defaultInfo .leftInfoBlock, .defaultInfo .rightInfoBlock {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(4, 30px);
  gap: 10px;
}
.defaultInfo .leftInfoBlock p {
  font-weight: 500;
  font-size: 18px;
}
.defaultInfo .rightInfoBlock a  {
  color: black;
  text-decoration: none;
  
}

.profileContainer img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.infoBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.infoBlock .book, .infoBlock .subscribe {
  font-weight: 600;
  font-size: 15px;
  align-self: center;
  background-color: rgb(58, 101, 241);
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  transition: color .1s;
  cursor: pointer;
}
.infoBlock .subscribe {
  margin-top: 5px;
  color: rgb(58, 101, 241);
  font-weight: 600;
  font-size: 15px;
  background-color: white;
  width: 199px;
  border: 1px solid rgb(58, 101, 241);
}
.infoBlock .subscribe:hover {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(240, 240, 240);
  transition: .1s;
}
.infoBlock h1 {
  align-self: center;
  color: rgb(83, 83, 83);
  margin: 0;
}
.infoBlock ul {
  color: rgb(131, 131, 131);
  padding: 0;
  list-style: none;
}
.infoBlock .book:hover {
  color: rgb(221, 221, 221);
  background-color: rgb(46, 82, 197);
}

.post {
  margin-bottom: 30px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: white;
}
.post .profileCircle {

  border: 1px solid white;
  width: 40px;
  height: 40px;
}
.profileCircle:hover {
  border: 1px solid rgb(53, 121, 199);
}

.post .postHeader {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(212, 218, 218);
  margin-bottom: 10px;
}
.postHeader .date {
  color: rgb(133, 133, 133);
  position: absolute;
  top: 0px;
  left: 40px;
  margin-left: 20px;
}
.post .comment {
  padding: 10px;
}

.aboutMeBlock {
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;

}
.aboutMeHeader {
  display: flex;
  justify-content: space-between;
}
.gallery {
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}
.photoGallery {
  position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.photoGallery img {
  width: 100%;
	height: 100%;
	transition: transform .5s;
	object-fit: cover;
	user-select: none;
  cursor: pointer;
}
.photoGallery img:hover {
  transform: scale(1.2);
}

.makePost {
  padding-top: 5px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
}
.makePost h2 {
  margin-left: 10px;
}
.makePost textarea {
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px;
  resize: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(239, 247, 247);
}
.makePost button {

  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background-color: rgb(53, 121, 199);
  width: 70px;
  height: 30px;
  border: none;

}
.tools {
  width: 100%;
  padding: 10px;
  display: none;
  align-items: center;
}
.tools .append{
  display: flex;
  align-items: center;
  gap: 5px;
}
.append {
  text-decoration: none;
  color: rgb(39, 39, 39);
}
.tools .append .appendIcon {
  width: 20px;
  height: 20px;
}
.postsList {
  margin-top: 50px;
}